<div class="sidebar">
  <div id="container">
    <div id="dummy"></div>
    <div id="element">
      <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
    </div>
  </div>
  <div id="text_name">
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.title }}</p>
  </div>
  {% include social.html %}
  <div id="text_name">
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
  </div>
</div>


<div class="card-columns">

  <!-- Remote Projects -->
  {% for remote_project in page.remote_projects %}

    {%- for repo in site.github.public_repositories -%}

      {%- if remote_project == repo.name -%}

        {%- assign project = repo -%}
        {%- assign words = project.name | split: '-' -%}
        
        {%- capture titlecase -%}
          {%- for word in words -%}
            {{ word | capitalize | append: ' ' }}
          {%- endfor -%}
        {%- endcapture -%}

        {%- assign project_type  = "remote" -%}
        {%- assign project_id    = project.name -%}
        {%- assign project_img   = false -%}
        {%- assign project_name  = titlecase | strip -%}
        {%- assign project_desc  = project.description -%}
        {%- assign project_url   = project.html_url -%}
        {%- assign project_tools = project.topics -%}
        {%- assign external      = true -%}

        {% include projects/project-card.html %}

      {%- endif -%}

    {%- endfor -%}

  {% endfor %}

  <!-- Local Projects -->
  {% for project in site.projects %}

    {%- assign project_type  = "local" -%}
    {%- assign project_id    = project.name | slugify -%}
    {%- assign project_img   = project.image -%}
    {%- assign project_name  = project.name -%}
    {%- assign project_desc  = project.description -%}
    {%- assign project_tools = project.tools -%}

    {%- if project.external_url -%}
      {%- assign project_url = project.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign project_url = project.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include projects/project-card.html %}

  {% endfor %}

</div>

{% include footer.html %}