{% if project_show != false %}
<div 
  class="wow animated fadeIn project-card" data-wow-delay=".15s" 
  data-pinned="{{ project.pinned | default=false }}"
  data-tags="{{ project_tags | join: ',' | downcase }}"
  data-type="{{ project_type | downcase }}">
  <a href="{{ project_url }}" class="project card text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
    {%- if project_img -%}
    <img id="{{ project_id }}-img" class="card-img-top" src="{{ project_img }}" alt="{{ project_title }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ project_id }}-name" class="card-title">
        {{ project_title }}
      </h5>
      <p id="{{ project_id }}-desc" class="card-text">{{ project_desc }}</p>
      <p id="{{ project_id }}-tags" class="card-text">
        {%- for tag in project_tags -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>
        {%- endfor -%}
      </p>
      {%- if project.pinned == true -%}
      <span class="badge badge-danger">📌 Pinned</span>
      {%- endif -%}
    </div>
  </a>
</div>
{% endif %}