<div class="sidebar">
    <div id="container">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
    <div id="text_name">
      <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.title }}</p>
    </div>
    {% include social.html %}
    <div id="text_name">
      <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
    </div>
  </div>
  
  