<div class="wow animated fadeIn" data-wow-delay=".15s">
  <div class="row">
    <div class="col-md-8">

      {% for blog in site.blogs %}
        <div class="blog-post">
          <h2><a href="{{ blog.url }}">{{ blog.title }}</a></h2>
          <p>{{ blog.excerpt }}</p>
          <p> {%- for tag in blog.tags -%}
            <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>
            {%- endfor -%}
          </p>
        </div>
      {% endfor %}
    </div>

    <!-- Sidebar Column -->
    <div class="col-md-4">
      {% include sidebar.html %}
    </div>
  </div>
</div>