<div class="wow animated fadeIn" data-wow-delay=".15s">
  <div class="row">
    <div class="col-md-8">
      {% assign sorted_blog = site.blog | sort: "date" | reverse %}
      {% for blog in sorted_blog %}
        <div class="blog-post">
          <h2>
            {% if blog.external_url %}
              <a href="{{ blog.external_url }}" target="_blank" rel="noopener">{{ blog.title }}</a>
            {% else %}
              <a href="{{ blog.url }}">{{ blog.title }}</a>
            {% endif %}
          </h2>
          <p>{{ blog.excerpt }}</p>
          <p> {%- for tag in blog.tags -%}
            <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>
            {%- endfor -%}
          </p>
        </div>
      {% endfor %}
    </div>

    <!-- Sidebar Column -->
    <div class="col-md-4">
      {% include sidebar.html %}
    </div>
  </div>
</div>